@font-face{
  font-family: fontOne;
  src: url(font1.ttf);
}
@font-face{
  font-family: fontTwo;
  src: url(font2.ttf);
}
@font-face{
  font-family: fontThree;
  src: url(font3.otf);
}
body{
  margin:0px;
  padding: 0px;
  background-color: rgba(51,51,51,1);
  overflow-x: hidden;
}
.indexBody{
  margin:0px;
  padding: 0px;
  background-color: #c64d56;
  overflow-x: hidden;
}
/* #96a8b2 */

/* COLOR SCHEME
#c64d56 - red
#47cdc6 - blue
#c7f65a - green
*/


/*front page*/
.book{
  background-image: url("../images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  left: 00vw;
  top: 25vh;
}
.signInFront{
  width: 20vh;
  height: 20vh;
  line-height: 20vh;
  text-align: center;
  border-style: solid;
  border-color: rgba(51,51,51,1);
  border-radius: 50%;
  position: absolute;
  left: 25vw;
  color: rgba(240,240,240,1);
  font-size: 6vh;
  top: 10vh;
  font-family: fontTwo;
}
.signUpFront{
  width: 20vh;
  height: 20vh;
  line-height: 20vh;
  text-align: center;
  border-style: solid;
  border-color: rgba(51,51,51,1);
  border-radius: 50%;
  position: absolute;
  right: 25vw;
  color: rgba(240,240,240,1);
  font-size: 6vh;
  top: 10vh;
  font-family: fontTwo;
}
.frontText{
  width: 100vw;
  position: absolute;
  left: 0vw;
  text-align: center;
  top: 40vh;
  font-size: 15vh;
  color: rgba(240,240,240,1);
  font-family: fontThree;
}
.circle{
  position: absolute;
  left: 0vh;
  top: 0vh;
  width: 20vh;
  height: 20vh;
  stroke-width: 2;
  stroke-dasharray: 15vh;
  fill: none;
  stroke: rgba(240,240,240,1);
  transition: all .5s;
  stroke-linecap: round;
}
.circle svg{
  width: 100%;
  height: 100%;
}
.circle:hover{
  stroke-width: 5;
  transition: all .5s;
  stroke-dasharray: 7vh;
}

/*sign in form*/
.backgroundTint{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0,0,0,.5);
  left: 0px;
  top: 0px;
  z-index: 1;
}
.signinForm{
  position: fixed;
  width: 30vw;
  height: 30vh;
  background-color: rgba(51,51,51,1);
  text-align: center;
  left: 35vw;
  top: 25vh;
  border-radius: 2vw;
  padding-top: 10vh;
  border-style: solid;
  border-color: #c7f65a;
  border-width: 5px;
  color: rgba(240,240,240,1);
  font-family: fontThree;
  font-size: 2vw;
}
.signinForm input {
  height: 2vw;
  border-radius: 2vw;
  vertical-align: middle;
}
.signinForm button{
  height: 4vw;
  width: 25vw;
  text-decoration: none;
  border-style: none;
  border-radius: 2vw;
  font-family: fontThree;
  font-size: 2vw;
}



.header{
  background-color: #47cdc6;
  height: 10vh;
  width: 100vw;
  text-align: center;
  font-size: 3vh;
}
.signin{
  font-size:2vh;
  display: inline-block;
  position: absolute;
  right: 0vw;
  color: rgba(240,240,240,1);
  background-color: #c64d56;
  border-radius: 1vh 0vh 0vh 1vh;
  padding-top: 3vh;
  padding-left: 2vh;
  text-align: center;
  text-decoration: none;
  width: 9vh;
  height:7vh;
  transition: width 1s, background-color .25s;
}
.signin:hover{
  width: 9vh;
  background-color: rgba(150,100,100,1);
  transition:background-color .25s;
}
.full{
  width: 100vw;
  transition: all 1s;
}
.title{
  background-color: #47cdc6;
  color: rgba(50,85,104,1);
  display: inline-block;
  margin-top: 2vh;
  padding: 1vh;
  border-radius: 1vh;
}

.exit{
  height: 5vh;
  position: absolute;
  right: 1vw;
  top: 1vw;
  background-color: white;
  border-radius: 5vw;
  padding: .3vw;
  z-index: 10;
  transform: translate(0vw);
  transition: transform 1s;
}
.exited{
  transform: translate(100vw);
  transition: transform 1s;
}
.back{
  z-index: 10;
  transform: translate(0vw);
  transition: transform 1s;
}
.updateExited{
  transform: translate(100vw);
  transition: transform 1s;
}
.updateBack{
  z-index: 10;
  transform: translate(0vw);
  transition: transform 1s;
}
.signinblank{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.footer{
  position: fixed;
  bottom: 0px;
  width: 100vw;
  text-align: center;
  background-color: rgba(150,100,100,1);
}
.footer a{
  color: white;
  text-decoration: none;
}
.signup{
  position: relative;
  text-align: center;
  width: 30vw;
  left: 35vw;
  font-size: 2vw;
}
.title2{
  background-color: #96a8b2;
  display: inline-block;
  margin-top: 2vh;
  padding: 1vh;
  border-radius: 1vh;
  position: relative;
  width: 40%;
  padding: 0px;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-bottom: 0px;
}
.participatingLibraries li{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
}
.participatingLibraries ul{
  padding: 0px;
  background-color: #96a8b2;
  width: 40%;
  left: 30%;
  position: relative;
  border-radius: 1vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-top: 0px;
  top: -1vw;
}
.instructions{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30vw;
  background-color: white;
  font-size: 2vh;
}
