body{
  margin:0px;
  padding: 0px;
  background-color: #96a8b2;
  overflow-x: hidden;
}
.header{
  background-color: rgba(50,85,104,1);
  height: 10vh;
  width: 100vw;
  text-align: center;
  font-size: 3vh;
}
.signin{
  font-size:2vh;
  display: inline-block;
  position: absolute;
  right: 0vw;
  color: #eeeeee;
  background-color: rgba(108,49,51,1);
  border-radius: 1vh 0vh 0vh 1vh;
  padding-top: 3vh;
  padding-left: 2vh;
  text-align: center;
  text-decoration: none;
  width: 9vh;
  height:7vh;
  transition: width 1s, background-color .25s;
}
.signin:hover{
  width: 9vh;
  background-color: rgba(150,100,100,1);
  transition:background-color .25s;
}
.full{
  width: 100vw;
  transition: all 1s;
}
.title{
  background-color: #96a8b2;
  color: rgba(50,85,104,1);
  display: inline-block;
  margin-top: 2vh;
  padding: 1vh;
  border-radius: 1vh;
}
.signinForm{
  position: fixed;
  width: 30vw;
  height: 30vh;
  background-color: rgba(150,100,100,1);
  text-align: center;
  left: 35vw;
  top: 25vh;
  border-radius: 2vw;
  padding-top: 10vh;
}
.exit{
  height: 5vh;
  position: absolute;
  right: 1vw;
  top: 1vw;
  background-color: white;
  border-radius: 5vw;
  padding: .3vw;
  z-index: 10;
  transform: translate(0vw);
  transition: transform 1s;
}
.exited{
  transform: translate(100vw);
  transition: transform 1s;
}
.back{
  z-index: 10;
  transform: translate(0vw);
  transition: transform 1s;
}
.updateExited{
  transform: translate(100vw);
  transition: transform 1s;
}
.updateBack{
  z-index: 10;
  transform: translate(0vw);
  transition: transform 1s;
}
.backgroundTint{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(150,100,100,0);
  left: 0px;
  top: 0px;
  z-index: 1;
}
.signinblank{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.footer{
  position: fixed;
  bottom: 0px;
  width: 100vw;
  text-align: center;
  background-color: rgba(150,100,100,1);
}
.footer a{
  color: white;
  text-decoration: none;
}
.signup{
  position: relative;
  text-align: center;
  width: 30vw;
  left: 35vw;
  font-size: 2vw;
}
.participatingLibraries{
  width: 30vw;
  background-color: rgba(50,85,104,1);
  border-radius: 2vw;
  text-align: center;
  padding-bottom: 1vh;
  left: 35vw;
  position: relative;
}
.title2{
  background-color: #96a8b2;
  display: inline-block;
  margin-top: 2vh;
  padding: 1vh;
  border-radius: 1vh;
  position: relative;
  width: 40%;
  padding: 0px;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-bottom: 0px;
}
.participatingLibraries li{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
}
.participatingLibraries ul{
  padding: 0px;
  background-color: #96a8b2;
  width: 40%;
  left: 30%;
  position: relative;
  border-radius: 1vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-top: 0px;
  top: -1vw;
}
.instructions{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30vw;
  background-color: white;
  font-size: 2vh;
}
